h1, h2, h3, h4, h5, .title
{
	color: #252529;
}

#skils .thumbnail
{
	max-width: 380px;
	box-shadow: 0 10px 20px rgba(0,0,0, .07); 
	background-color: #fff;
	margin: -78px 25px 30px;
	padding: 50px 20px 20px;
}

#skils .thumbnail:nth-child(2)
{
	margin-top: 0;
}

#skils .thumbnail h2,
#last-projects h3
{
	font-size: 30px;
}

#last-projects h3
{
	margin: 0 0 25px;
}

#skils .thumbnail h4
{
	font-size: 19px;
	margin-bottom: 20px;
}

#skils .thumbnail p,
#skils .thumbnail ul
{
	margin-bottom: 28px;
}

#skils .thumbnail .img-responsive
{
	margin: 25px 0 25px;
}

#section1 .img-skills
{

}

#about-me h3
{
	font-size: 30px;
	margin-bottom: 35px;
}

#skils
{
	background-color: #f5f3f1;
	padding-bottom: 20px;
}

#about-me
{
	background-color: #e5e2dd;
	margin-top: -135px;
	padding: 170px 0 100px;
}

#skils .flex,
#last-projects .flex
{
	justify-content: center;
	align-items: center;
}

#last-projects
{
	padding-top: 55px;
}

#last-projects .flex
{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 20px;
}

#last-projects .thumbnail
{
	margin: 0 15px 25px;
}

#last-projects p
{
	margin-bottom: 25px;
}

b
{
	font-weight: 600;
}

.nowrap,
.title .nowrap
{
	white-space: nowrap;
	color: inherit;
}

@media (min-width: 600px) {
	#skils .thumbnail:nth-child(2)
	{
		margin-top: -78px;
	}

	#skils .flex, #last-projects .flex
	{
		align-items: stretch;
	}
}

@media (min-width: 900px) {
	#about-me
	{
		padding: 170px 0 150px;
	}

	#skils .thumbnail
	{
		margin-bottom: 0;
		margin-left: 15px;
		margin-right: 15px;
	}

	#skils .thumbnail:nth-child(2)
	{
		margin-top: -78px;
	}

	#skils
	{
		padding-bottom: 65px;
	}

	#last-projects
	{
		padding-top: 85px;
	}

	#last-projects .thumbnail
	{
		margin-bottom: 0;
	}

	#last-projects .flex
	{
		margin-bottom: 60px;
	}

	#last-projects p
	{
		margin-bottom: 40px;
	}
}
