/*#top
{
	background-color: transparent;
}

body 
{
	padding-top: 0;
}*/

#portfolio-show 
{
	color: #96918c;
}

.bg-dark 
{
	background-color: #141110;
}

.container 
{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.col-xs-12, .col-md-6
{
	padding: 0;
}

.logo p
{
	margin-bottom: 20px;
}

#portfolio-show img
{
	width: auto;
}

#portfolio-show h1,
#portfolio-show h2,
#portfolio-show h3,
#portfolio-show h4
{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

#portfolio-show h1
{
	display: none;
}

#portfolio-show h2
{
	font-size: 50px;
}

#portfolio-show h4
{
	font-size: 40px;
}

.marks h4
{
	position: absolute;
	bottom: 0;
}

.marks .row-mark
{
	margin-top: 70px;
}

.marks
{
	background-image: url(../../images/portfolio/sincere-feelings/bg-marks.gif);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.typography
{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

.typography p 
{
	line-height: 160%;
}

#portfolio-show .typography h3
{
	font-size: 43px;
	margin-bottom: 25px;
}

#portfolio-show .typography > div:nth-child(1)
{
	font-family: 'Playfair Display', serif;
}

#portfolio-show .typography > div:nth-child(2) h3
{
	font-family: 'Poppins', sans-serif;
}

#portfolio-show .typography > div:nth-child(2) p
{
	font-weight: 300;
}

.logo 
{
	padding-top: 60px;
	padding-bottom: 50px;
}

.logo2 img
{
	margin: 40px 0;
}

.box-draw
{
	    padding-top: 45px;
    padding-bottom: 60px;
    padding-left: 6%;
    padding-right: 6%;
}

.marks {
    padding-top: 60px;
    padding-bottom: 80px;
}

.marks h2 {
    margin-bottom: 45px;
}

.marks h4
{
	left: 0;
	right: 0;
}

#portfolio-show .typography > div {
    padding: 90px 4% 0px;
}

#portfolio-show .typography > div + div
{
	padding-bottom: 90px;
}

.logo img
{
	margin-bottom: 40px;
}

@media (min-width: 900px) {

	.marks .row-mark:nth-child(4) h4
	{
		right: -39px;
		left: auto;
	}

	.marks .row-mark:nth-child(5) h4
	{
		left: -155px;
		right: auto;
	}

	.marks .row-mark:nth-child(6) h4
	{
		right: -20px;
	    bottom: 10px;
	    left: auto;
	}

	.marks .row-mark:nth-child(7) h4
	{
		left: -93px;
		right: auto;
	}

	.marks .row-mark:nth-child(8) h4
	{
	    right: -120px;
	    left: auto;
	    bottom: 5px;
	}

	#portfolio-show .typography > div,
	#portfolio-show .typography > div + div
	{
		padding: 160px 4% 150px;
	}

	#portfolio-show .typography > div:nth-child(1)
	{
		text-align: right;
	}

	#portfolio-show .typography > div:nth-child(2)
	{
		text-align: left;
	}

/*	.portfolio h1 {
	    top: 40px;
	}*/

	.col-sm-6
	{
		width: 50%;
		float: left;
	}

	.container 
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.logo 
	{
		padding-top: 160px;
		padding-bottom: 100px;
		max-width: 1170px;
	}

	.logo img
	{
		margin-bottom: 90px;
	}

	.logo2 img
	{
		margin: 95px 0;
	}

	.box-draw
	{
		padding-top: 135px;
		padding-bottom: 120px;
		padding-left: 8%;
		padding-right: 8%;
	}

	.marks 
	{
		padding-top: 110px;
		padding-bottom: 130px;
	}

	.marks h2 
	{
		margin-bottom: 105px;
	}

	.marks .container
	{
		max-width: 1170px;
	}

	.marks .row-mark
	{
		margin-top: 70px;
		padding: 0 10%;
	}

	.marks .relative 
	{
		margin-bottom: 20px;
	}

	.leaflet
	{
		padding: 180px 0;
	}
}